@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
    --fontheader: 'Passion One';
    --fonttexto: 'Sriracha'
}
body{
    margin:0px;
    max-width: 1900px;
    min-width: 100%;
}
body p{
    margin: 0px;
    font-family: var(--fonttexto);
}

div{
    padding-left: 30px;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 2.5vw;
}
header{
    background-color: black;
    color: white;
    padding-bottom: 15px;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-family: var(--fontheader);
    font-variant: small-caps;
    font-size: 10vw;
}
header p{
    padding-bottom: 50px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header p a{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration:underline;
}

#img1{
    background-image: url('imagens/background001.jpg');
    background-position: center center;
    background-attachment: fixed;
    color: white;
   
}
#img2{
    background-image: url('imagens/background002.jpg');
    background-position: right right;
    background-attachment: fixed;
    color: white;
}
#img1 p, #img2  p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.347);
}
.texto{
   
}
.caixa-texto{
    
    border: 0px solid black;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}
footer a{
    color: white;
    text-decoration: none;
}
